body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    background-image: url();
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.pagina{
    max-width: 360px;
    margin: 0 auto;
}
.cartao{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 10px;
    text-align: center;
    margin: 0 1rem;
}
.cartao img{
    width: 100%;
    border-radius: 10px;
}
.cartao h1{
    color: black;
    padding-bottom: 15px;
}
.cartao p{
    color: darkgray;
}